%reset-btn {
  background-color: transparent;
  border: 1px solid transparent;
}

%reset-font {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
